link(rel='stylesheet', href="/stylesheets/index.css")
link(rel='stylesheet', href="/bower_components/font-awesome/css/font-awesome.min.css")

.modal.fade.rooms-modal#roomsModal(tabindex='-1', role='dialog', aria-labelledby='gridSystemModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#gridSystemModalLabel.modal-title Available Rooms
          .modal-body
            ul
                li(data-ng-repeat="room in ctrl.vm.availableRooms track by $index")
                    span {{::room.name}}  
                    a(data-ng-click="ctrl.joinRoom(room.room)", href="" data-dismiss='modal') Join  
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            


    .container-fluid
        
        .row(style="background-color:#F3F3F3")
            .col-md-3.col-md-offset-5
                .logo
                    img.img-responsive.center-block(src="/images/logo128x128.png")
                    h3.center-block.text-center wetalki
                    h5.center-block.text-center Practice any language, anytime, anywhere!
                    
                    if error != null
                        .alert.alert-warning(role="alert") #{error}

                
                            
                
            .col-md-4(style="text-align: right;")
                #numUsersOnline
                    strong(data-ng-bind="ctrl.vm.numUsersOnline")
                        
                    spam.
                         online now
             br
        
        
        .row#features
            //(style="background-color: #3B3D3F;color: #ECECEC;")
            .col-md-3.col-md-offset-1.col-xs-12
                div.text-center
                    i.fa.fa-wechat.fa-5x
                h3.text-center Talk One to One
                form(action="/", method="post")
                    form-group
                    
                        select.form-control.input-lg(
                         data-ng-model="ctrl.vm.selectedLanguage",
                         data-ng-options="language as language.text for language in ctrl.vm.languages track by language.value")
                            option(value="") Select the language                        
                          
                    br
                    input.btn.btn-primary.btn-lg.center-block(type="button",value="Let's Talk", data-ng-click="ctrl.goToOneToOneChatRoom(ctrl.vm.selectedLanguage)")
                br
                br
            .col-md-3.col-md-offset-1.col-xs-12
                div.text-center
                    i.fa.fa-group.fa-5x
                h3.text-center Talk In Groups
            
                form-group
                    select.form-control.input-lg(data-ng-model="ctrl.vm.langCodeGroup")
                        option(value="") Select the language                        
                        option(value="en") English
                        option(value="pt") Portuguese
                        option(value="sp") Spanish
                        option(value="fr") French
                        option(value="ge") German
                        option(value="it") Italian
                        option(value="ch") Chinese
                        option(value="ja") Japonese
                        option(value="ko") Korean
                        option(value="ru") Russian
                        option(value="ar") Arabic
                        option(value="la") Latin
                        option(value="hi") Hindi
                br
                form-group
                    select.form-control.input-lg(data-ng-model="ctrl.vm.topicGroup")
                        option(value="") Choose a topic                        
                        option(value="free") Free
                        option(value="politics") Politics
                        option(value="sports") Sports
                        option(value="movies") Movies
                        option(value="music") Music
                        option(value="travel") Travel
                        option(value="jobs") Jobs
                br
                input.btn.btn-success.btn-lg.center-block(type="button",value="Join a room",data-toggle='modal', data-target='.rooms-modal',data-ng-click="ctrl.loadRooms(ctrl.vm.langCodeGroup,ctrl.vm.topicGroup)")
                br          
            .col-md-3.col-md-offset-1.col-xs-12
                div.text-center
                    i.fa.fa-headphones.fa-5x
                h3.text-center Talk with Audio
                br
                br
                h3.text-center  In Development...
        br
        .marketing
            .row
                .col-md-3.col-md-offset-1
                    div.features-box-icon
                        i.fa.fa-thumbs-o-up

                    h2 Simplicity
                    p.
                        No Sign Up or Registration needed to Chat. We know your time is valuable. It's simple & crafted with love.
                    
                .col-md-3.col-md-offset-1
                    div.features-box-icon
                        i.fa.fa-mobile
                
                    h2 Mobile-Friendly
                    p.
                        Got iPhone, Android or Tablet? No problem! Chat smoothly on all platforms.
                    
                // /.col-lg-4
                .col-md-3.col-md-offset-1
                    div.features-box-icon
                        i.fa.fa-globe                    
                    h2 Freedom
                    p.
                        Talk with people from all over the world & discuss about any topic that matters to you. As more you practice, the more you will improve.
             
   
     p.text-center
            script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
            <!-- wetalki home -->
            ins.adsbygoogle(
            style="display:inline-block;width:728px;height:90px"
            data-ad-client="ca-pub-8215940757054585"
            data-ad-slot="5244486154")
            script.
                (adsbygoogle = window.adsbygoogle || []).push({});
    

    footer.footer
      .container
        .row
          .col-sm-12.footer-social
            a(target='new_blank', href='https://www.facebook.com/Wetalki-Languages-1094680307255625/')
              i.fa.fa-facebook
        br
        .row
          .col-sm-12.footer-copyright
            | © 2016 Wetalki, Inc.
        .row(style= "margin:0;")
                p.text-center.
                    By using the Wetalki Web site, and/or related products and/or services ("Wetalki", provided by Wetalki.com), you agree to the <a href="/termsofservice.html">terms of service</a>.
            
       
    
