extends layout
block content
    users-online-box(data-show="vm.isUsersOnlineBoxVisible",ng-if="vm.isUsersOnlineBoxVisible", data-users-online="vm.usersOnline", invite-to-chat="vm.inviteToChat")
    
    
    text-chat-box(data-show="vm.isTextChatBoxVisible",
                data-partner="user",
                data-me="vm.me",
                data-ng-if="vm.isTextChatBoxVisible", 
                data-send-message="vm.sendChatMessage",
                data-ng-repeat="user in vm.peopleIAmChatting")
    