extends layout
block content
    users-online-box(data-show="vm.isUsersOnlineBoxVisible",ng-if="vm.isUsersOnlineBoxVisible", data-users-online="vm.usersOnline", invite-to-chat="vm.inviteToChat")
    
    
    text-chat-box(
                data-partner="partner",
                data-me="vm.me",
                data-send-message="vm.sendChatMessage",
                data-leave-chat-room="vm.leaveChatRoom",
                data-ng-repeat="partner in vm.peopleIAmChatting track by partner.id")
    